/* Основные стили */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #d2691e;
    background-repeat: repeat;
    background-image: url("../images/background.png");
}

main {
    flex: 1;
}

.footer {
    margin-top: auto;
}

/* Стили карточек */
.card {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    border: none;
    margin-bottom: 1rem;
}

.card-header {
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

/* Стили таблиц */
.table {
    background-color: #fff;
}

.table thead {
    background-color: #f8f9fa;
}

/* Стили кнопок */
.btn {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

.btn-sm {
    padding: 0.25rem 0.5rem;
}

/* Стили навигации */
.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Стили для форм */
.form-control:focus {
    box-shadow: 0 0 0 0.2rem #96989a;
    background-color: #212529;
    color: #96989a;
    border-color: #96989a;
}

.form-control {
    background-color: #212529;
    color: #96989a;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #96989a;
  -webkit-box-shadow: #212529 inset;
  transition: background-color 5000s ease-in-out 0s;
}

A {
    color: #854213; /* Цвет ссылок */
}


A:visited {
    color: #854213; /* Цвет посещенных ссылок */
}

A:active {
    color: #854213; /* Цвет активных ссылок */
}

/* Стили для alerts */
.alert {
    margin-bottom: 1rem;
    border: none;
    border-radius: 0.25rem;
}