{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="card" style="padding: 20px; background-color: #212529;">

    <div class="jumbotron">
        <h1 class="display-4" style="color: #96989a;"><b>Добро пожаловать в SportIQ</b></h1>
        <p class="lead" style="color: #96989a;"><b>Здесь вы можете управлять спортивным инвентарем, отслеживать его состояние и доступность.</b></p>
        <hr class="my-4">
        {% if not current_user.is_authenticated %}
        <p style="color: #96989a;"><b>Для начала работы необходимо войти в систему или зарегистрироваться.</b></p>
        <div class="mt-3">
            <a class="btn btn-primary btn-lg me-2" href="{{ url_for('login') }}" role="button" style="border-color: #e3a071; background-color: #e3a071;"><b>Войти</b></a>
            <a class="btn btn-secondary btn-lg" href="{{ url_for('registration') }}" role="button" style="border-color: #e3a071; background-color: #e3a071;"><b>Регистрация</b></a>
        </div>
        {% else %}
        <p style="color: #96989a;"><b>Перейдите к управлению инвентарем или просмотрите свой профиль.</b></p>
        <div class="mt-3">
            {% if current_user.is_authenticated and current_user.admin %}
            <a class="btn btn-primary btn-lg me-2" href="{{ url_for('storage') }}" role="button" style="border-color: #e3a071; background-color: #e3a071;"><b>Склад</b></a>
            {% endif %}
            <a class="btn btn-secondary btn-lg" href="{{ url_for('profile') }}" role="button" style="border-color: #e3a071; background-color: #e3a071;"><b>Профиль</b></a>
        </div>
        {% endif %}
    </div>
        </div>
</div>
{% endblock %}